<div class="container">
  <div class="table-div">
    <%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
   <%= f.input :photo, as: :file %>
  <%= f.submit "Add", class: "btn btn-primary" %>
  <% end %>
  </div>
</div>




<%= link_to 'Back to list', cocktails_path, class: "btn btn-secondary" %>
